*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.index-body{
    display: grid;
    grid-template-rows: 10vh 40vh 40vh 10vh;
    background-color: rgb(12, 66, 9);
    color: white;
    font-family: Calibri, sans-serif, 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS';
}

.about-body{
    display: grid;
    grid-template-rows: 10vh auto 10vh;
    background-color: rgb(12, 66, 9);
    color: white;
    font-family: Calibri, sans-serif, 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS';
    overflow: scroll;
}

.team-body{
    display: grid;
    grid-template-rows: 10vh 80vh 10vh;
    background-color: rgb(12, 66, 9);
    color: white;
    font-family: Calibri, sans-serif, 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS';
}

header, .top, .bottom, footer {
    border: black 1px solid;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
}

header img{
    height: 50vh;
}

header ul{
    list-style-type: none;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
}

/* header ul li:not(:nth-of-type(1)){
    margin-left: 5px;
} */

header ul a{
    padding-left: 10px;
    padding-right: 15px;
}

header ul li a{
    text-decoration: none;
    font-size: large;
    color: white;

}

header ul li a:hover{
    color: rgb(12, 66, 9);
    background-color: white;
}

.page-title{
    height: 7vh;
    text-align: center;
}

.top{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.top div{
    width: 30vw;
}

.top div h1{
    font-family: sans-serif;
}

.top img{
    height: 30vh;
}

.about-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.about-section-1{
    width: 70vw;
    display: flex;
    border: white 3px solid;
    align-items: center;
}

.team-section ul{
    text-align: center;
}

.bottom{
    display: flex;
    justify-content: center;
    align-items: center;
}

.bottom > div {
    display: flex;
    justify-content: space-between;
    height: 33vh;
    width: 60vw;
}

.bottom div div{
    display: grid;
    border: black 1px solid;
    width: 15vw;
    justify-items: center;
    padding: 3px;
}

.bottom div div img{
    height: 12vh;
    border-radius: 100%;
}

footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.social-media{
    display: flex;
    justify-content: space-between;
    width: 15vw;
}

.social-media img{
    height: 5vh;
}
